<%- contentFor('body') %>
<h1 class="text-center"><%= textos.aluno %></h1>

<form method="post" action="/registerAluno/<%=(aluno.matriculaAluno ? aluno.matriculaAluno : '')%>">
  <div class="form-group">
    <div class="col-md-12">
      <% if (aluno.matriculaAluno) { %>
        <label for="campo-matricula"><%= textos.matriculaAluno %></label>
        <input type="text" disabled="true" class="form-control" value="<%=aluno.matriculaAluno%>" id="campo-matricula" placeholder="Matrícula">
      <% } else { %>
        <label for="campo-matricula"><%= textos.matriculaAluno %></label>
        <input type="text" name="matriculaAluno" class="form-control" id="campo-matricula" placeholder=" <%= textos.matricula %>">
      <% } %>

      <br/>
      <label for="campo-nome"><%= textos.nomeAluno %></label>
      <input type="text" class="form-control" id="campo-nome" name="nome" value="<%=aluno.nome%>" placeholder=" <%= textos.nome %>">
      <br/>
    </div>
    <div class="col-md-1">
      <a href="/">
        <button type="button" class="btn btn-danger">
          <%= textos.cancelar %>   
        </button>
      </a>
    </div>
    <div class="col-md-10"></div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-success">
        <%= textos.enviar %>
      </button>
    </div>
  </div>
</form>